*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-title-index{
    width: 600px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-family: 'calibri';
    color:black;
    text-align:center;
    font-size: 30px;
}

.form-main-index{
    width: 800px;
    background: #DDE1EF;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    border:1px solid black;
    font-family: 'calibri';
    color:black;
    box-shadow: 7px 13px 37px black;
}

.form-main-index h2{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-title{
    width: 600px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-family: 'calibri';
    color:black;
    text-align:center;
    font-size: 30px;
}

.form-main{
    width: 800px;
    background: #DDE1EF;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    border:1px solid black;
    font-family: 'calibri';
    color:black;
    box-shadow: 7px 13px 37px black;
}

.form-main h2{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-main h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.datosTexto{
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.parrafosTexto{
    background-color: whitesmoke;
    border-radius: 5px;
    resize: none;
    height: 100px;
    width: 100%;
    padding: 10px;
}


.botons{
    width: 100%;
    border:1px solid black;
    border-radius: 5px;
    padding:15px;
    margin:10px 0;
    color:black;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}
